body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lucida Console", Monaco, monospace;

}

body, html {
  height: 100%;
  line-height: 1.8;
  font-family: "Lucida Console", Monaco, monospace !important;

}
.bgimg-1 {
  height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/mainpic.jpg");
  
}
.bgimg-1:before{
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  background-image: url("../img/mainpic.jpg");

  }
.w3-bar .w3-button {
  padding: 16px;
}

#myNavbar{
    height: 5vw;
}
.page-title{
    letter-spacing: 0.3em;
    color: black;
    line-height: normal;
    font: normal normal normal 66px/1.4em poppins-extralight,poppins,sans-serif;
    text-transform: uppercase;

}
.w3-hide-small{
  height: 5vw;
  margin-top: 2vh;
}

.under-title{
color: black;
margin-left: 40px;
font-size: 1.5em !important;
}
.loc-header .first{
  color: white;
  background-color: black;
  right: 0;
  left: 0;
  bottom: 0;

  align-items: center;
  justify-content: center
}
.loc-header .first p{
  text-align: center;
line-height: 50px
}

.loc-header .first .title .fa{
  padding: 17px;
    width: 2vw;
}
 .loc-header .title{
   text-align: center;
   font-size: 1cm;
   vertical-align: center;
 }


.home-work{
  background-color: #fff;
  color: black;
}
.work{
  vertical-align: center;
  text-align: center;
  width: 33.33%;
}
.work .title{ 
font-size: 23px;
}
.logo-image img{
  height: 5vw;
  margin-left: 2vw;
}
.containser{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.votre-os-text{
  width: 40vw;
  margin: 0 auto;
  line-height: 40px;

}
.mapouter {
  position: relative;
  text-align: right;
  height: 400px;
  width: 540px !important;
}
  .gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 400px;
    width: 545px !important;
  }
  .w3-row-padding.location-service{
    display:flex !important;
    margin-top: 64px ;
    justify-content: space-around;
   }

   .logo-center-loc{
    /* height: 500px; */
    background-image: url("../img/logo.png");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  
   }
   .logo-center-loc:before{
    position:fixed;
   
    left:0;
    top:0;
    background-image: url("../img/logo.png");
    }
    .w3-justify p {
      line-height: 30px;
    }
    .hover_bkgr_fricc{
      background:rgba(0,0,0,.4);
      cursor:pointer;
      display:none;
      height:100%;
      position:fixed;
      text-align:center;
      top:0;
      width:100%;
      z-index:10000;
  }
  .hover_bkgr_fricc .helper{
      display:inline-block;
      height:100%;
      vertical-align:middle;
  }
  .hover_bkgr_fricc > div {
      background-color: #fff;
      box-shadow: 10px 10px 60px #555;
      display: inline-block;
      height: auto;
      max-width: 551px;
      min-height: 100px;
      vertical-align: middle;
      width: 60%;
      position: relative;
      border-radius: 8px;
      padding: 15px 5%;
  }
  .popupCloseButton {
      background-color: #fff;
      border: 3px solid #999;
      border-radius: 50px;
      cursor: pointer;
      display: inline-block;
      font-family: arial;
      font-weight: bold;
      position: absolute;
      top: -20px;
      right: -20px;
      font-size: 25px;
      line-height: 30px;
      width: 30px;
      height: 30px;
      text-align: center;
  }
  .popupCloseButton:hover {
      background-color: #ccc;
  }
  .trigger_popup_fricc {
      cursor: pointer;
      font-size: 20px;
      margin: 20px;
      display: inline-block;
      font-weight: bold;
  }
  .phone_Number{
    text-align: center;
  }
   @media only screen and (max-width: 600px) {
    .w3-row-padding.location-service{
     display: block !important
    }
  }