body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lucida Console", Monaco, monospace;

}

body, html {
  height: 100%;
  line-height: 1.8;
  font-family: "Lucida Console", Monaco, monospace !important;

}
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/mainpic.jpg");
  min-height: 100%;
  position: relative;
}

.w3-bar .w3-button {
  padding: 16px;
}

#myNavbar{
    height: 5vw;
}
.page-title{
    letter-spacing: 0.3em;
    color: black;
    line-height: normal;
    font: normal normal normal 66px/1.4em poppins-extralight,poppins,sans-serif;
    text-transform: uppercase;

}
.w3-hide-small{
  height: 5vw;
  margin-top: 2vh;
}

.under-title{
color: black;
margin-left: 40px;
font-size: 1.5em !important;
}
.loc-header .first{
  color: white;
  background-color: black;
  right: 0;
  left: 0;
  bottom: 0;

  align-items: center;
  justify-content: center
}
.loc-header .first p{
  text-align: center;
line-height: 50px
}

.loc-header .first .title .fa{
  padding: 17px;
    width: 2vw;
}
 .loc-header .title{
   text-align: center;
   font-size: 1cm;
   vertical-align: center;
 }


.home-work{
  background-color: #fff;
  color: black;
}
.work{
  vertical-align: center;
  text-align: center;
  width: 33.33%;
}
.work .title{ 
font-size: 23px;
}
.logo-image img{
  height: 5vw;
  margin-left: 2vw;
}
.containser{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.votre-os-text{
  width: 40vw;
  margin: 0 auto;
  line-height: 40px;

}
.mapouter {
  position: relative;
  text-align: right;
  height: 400px;
  width: 540px !important;
}
  .gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 400px;
    width: 545px !important;
  }