body{
    font-family: 'Coming Soon', cursive;
}
.margin{
    max-width: 70%;
    display: block;
    margin:0 auto;
    box-shadow: 0px 0px 31px 11px rgba(0, 0, 255, .2)
}
.margin header img{
    display: block;
    height: 220px;
    margin: 0 auto;
}
.separateur{
    height: 0.2cm; background-color: black;
}
#menu{
    display : flex;
    justify-content: space-between;
    margin-bottom: 1cm;
}
.horaires{
    float: left;
    background-color: #fbcfd5;
    width: 35%;
    max-height: 100%;min-height: 100%;
    text-align: center;
    padding-top: 2%; 
}
.contact{
    background-color: #eef5f4;
    text-align: center;
    padding-top: 2%;
    width: 64%; 
}
.note p{
    text-align: center;
    color: red;

}

h1{
    font-family: 'Josefin Slab', serif;
    font-size: 1.6rem;
    padding-bottom: 1cm;
    text-align: center;
}
p{
    font-size: 1.1rem;
}   
#cabinet{
    display : flex;
    justify-content:space-between;
    margin-bottom: 1cm;
}
.acces{
    background-color: #f1eab9;
    padding: 3%;
    text-align: center;
    justify-content: space-around;
    max-width: 56%;
    width: 56%;
}
.maps{
    background-color: #fece94;
    padding: 3%;
    text-align: center;
    float: right;
    width: 40%;
}
#praticien {
    background-color: #eef5f4;
    margin-bottom: 1cm;
    text-align: center;
}
.profil img{
    max-width: 50vh;
    align-content: center;
}
.diplome{
    padding: 3%;
    text-align: center;
}
#qui{
    background-color: #fbcfd5;
    margin-bottom: 1cm;
    text-align: center;
    padding: 3%;
}
#consultation{
    background-color: #f1eab9;
    padding: 3%;
    margin-bottom: 1cm;
    text-align: center;
}
.seance img{
    max-width: 65vh;
}
#info{
    background-color: #eef5f4;
    padding: 3%;
    margin-bottom: 1cm;
    text-align: center;
}
#question{
    text-align: center;
}
.contact2 a img{
    width: 2cm;
    
}
.contact2 > a {
margin: 10px;
    
}